### Introduction to Pandas 

* #### It contains data structures and data manipulation tools designed to make data cleaning and analysis fast and easy in Python
* #### Numpy: suited for working with homogeneous numerical array data 
* #### pandas: is designed for working with tabular or heterogeneous data.


#### Real world data example

<img src="files/dataframe-printing-by-jupyter-notebook.png"/>

<h3> Introduction to pandas Data Structures </h3>
<ul>
    <li> <b>Series</b> </li>
    <li> <b>DataFrame</b> </li>
</ul><br>

In [ ]:
import pandas as pd
import numpy as np

### Series
<ul>
    <li>one-dimensional array-like object containing a sequence of values</li>
    <li>associated array of data labels, called its <b>index</b> </li>

<img src="files/pandas-powerful-data-analysis-tools-for-python-13-638.jpg"/>

In [ ]:
obj = pd.Series([4, 7, -5, 3])

In [ ]:
obj

In [ ]:
obj_value = obj.values
obj_value

In [ ]:
type(obj_value)

In [ ]:
obj.index

In [ ]:
list(obj.index)

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [ ]:
obj2

In [ ]:
obj2['a']

In [ ]:
obj2[['a','b']]

<p>['c', 'a'] is interpreted as a list of indices</p>
<br>
<p>Numpy like operation on pandas series </p><br>

In [ ]:
obj2[obj2>0]

In [ ]:
obj2 * 2

In [ ]:
np.exp(obj2)

In [ ]:
'b' in obj2

In [ ]:
4 in obj2

In [ ]:
4 in obj2.values

#### Create Series from dictionary

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
obj3 = pd.Series(sdata)

In [ ]:
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [ ]:
obj4 = pd.Series(sdata, index=states)

In [ ]:
obj4

In [ ]:
obj4.isnull()

In [ ]:
obj4.notnull()

In [ ]:
obj3 + obj4

In [ ]:
obj4 + obj3

<br><p>Both the Series object itself and its index have a name attribute, which integrates with other key areas of pandas functionality</p>

In [ ]:
obj4

In [ ]:
obj4.name = 'population'

In [ ]:
obj4.index.name = 'state'

In [ ]:
obj4

In [ ]:
obj

<br><p>A Series’s index can be altered in-place by assignment:</p>

In [ ]:
obj

In [ ]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [ ]:
obj

<br><h3>DataFrame</h3>
<ul>
    <li>Two-dimensional size</li>
    <li>mutable </li>
    <li>labeled axes (rows and columns)</li>
    <li>Rectangular table of data and contains an ordered collection of columns</li>
    <li>Each column can be a different value type</li>
    <li>The DataFrame has both a row and column index;it can be thought of as a dict of Series all sharing the same index </li>
    <li>Under the hood, the data is stored as one or more two-dimensional blocks rather than a list, dict, or some other collection of one-dimensional arrays </li>
    <li>can be thought of as a dict-like container for Series objects</li>
    <br>
<img src="files/df_pic.jpg"/>

<p>constructing DataFrame: </p>

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

In [ ]:
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, 
                      columns=['year', 'state', 'pop', 'debt'], 
                      index=['one', 'two', 'three', 'four', 'five', 'six'])

In [ ]:
frame2

In [ ]:
frame2_state = frame2['state']
frame2_state

In [ ]:
type(frame2_state)

<br>Rows can also be retrieved by position or name with the special loc attribute:

In [ ]:
frame2.loc['one']

In [ ]:
frame2.loc[['one', 'four']]

In [ ]:
frame2['debt'] = 16.5

In [ ]:
frame2

<h4>Tips</h4>
<ul>
    <li> assigning lists or arrays to a column => the value’s length must match the length of the DataFrame </li>
    <li> assign a Series => its labels will be realigned exactly to the DataFrame’s index, inserting missing values in any holes </li>
</ul>

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7, 100000], index=['two', 'four', 'five', 'x'])

In [ ]:
frame2['debt'] = val

In [ ]:
frame2

<ul>
    <li>Assigning a column that doesn’t exist will create a new column. The del keyword will delete columns as with a dict.</li>
</ul>

In [ ]:
frame2['eastern'] = frame2['state'] == 'Ohio'

In [ ]:
frame2

In [ ]:
del frame2['eastern']

In [ ]:
frame2

Another common form of data is a nested dict of dicts:

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
            'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)

In [ ]:
frame3

In [ ]:
frame3.T

<h3>Possible data inputs to DataFrame constructor</h3>
<ul>
    <li><b>2D ndarray</b> : A matrix of data, passing optional row and column labels</li>
    <li><b>dict of arrays, lists, or tuples</b> : Each sequence becomes a column in the DataFrame; all sequences must be the same length</li>
    <li><b>NumPy structured/record array</b> : Treated as the “dict of arrays” case</li>
    <li><b>dict of Series</b> : Each value becomes a column; indexes from each Series are unioned together to form the result’s row index if no explicit index is passed</li>
    <li><b>dict of dicts</b> : Each inner dict becomes a column; keys are unioned to form the row index as in the “dict of Series” case</li>
    <li><b>List of dicts or Series </b> : Each item becomes a row in the DataFrame; union of dict keys or Series indexes become the DataFrame’s column labels</li>
    <li><b>List of lists or tuples</b> : Treated as the “2D ndarray” case</li>
    <li><b>Another DataFrame </b> : The DataFrame’s indexes are used unless different ones are passed</li>
    <li><b>NumPy MaskedArray</b> : Like the “2D ndarray” case except masked values become NA/missing in the DataFrame result</li>
</ul><br>

<h3>Essential Functionality</h3>
<ul>
    <li>Reindexing</li>
    <li>Dropping Entries from an Axis</li>
    <li>Indexing, Selection, and Filtering</li>
    <li>Integer Indexes</li>
    <li>Arithmetic and Data Alignment</li>
    <li>Function Application and Mapping</li>
</ul><br>

#### Reindexing

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

In [ ]:
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd'])

In [ ]:
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])

In [ ]:
obj3

In [ ]:
obj3.reindex(range(6), method='ffill') # ffill : forward fill

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'], 
                     columns=['Ohio', 'Texas', 'California'])

In [ ]:
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

In [ ]:
frame2

The columns can be reindexed with the <b>columns</b> keyword:

In [ ]:
states = ['Texas', 'Utah', 'California']

In [ ]:
frame.reindex(columns=states)

<h4> Dropping Entries from an Axis </h4>

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])

In [ ]:
obj

In [ ]:
new_obj = obj.drop('c')

In [ ]:
new_obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

In [ ]:
data

In [ ]:
data.drop('Colorado')

In [ ]:
data.drop('two', axis='columns') # or axis=1

In [ ]:
obj

<p>Mutating object with inplace </p>

In [ ]:
obj.drop('c', inplace=True)

In [ ]:
obj

<h4>Indexing, Selection, and Filtering</h4>

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])

In [ ]:
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b', 'a', 'd']]

In [ ]:
obj[obj<2]

In [ ]:
obj['a':'c']

In [ ]:
obj['b':'c']=12.0

In [ ]:
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])

In [ ]:
data

In [ ]:
data['one']

In [ ]:
data[:2]

In [ ]:
data[data['three']>5]

<p>Selection with loc and iloc</p>

In [ ]:
data.loc['Colorado', ['two', 'three']]

In [ ]:
data.iloc[2]

In [ ]:
data.iloc[[1,2], [3,0,1]]

In [ ]:
data

In [ ]:
ser = pd.Series(np.arange(3.))

In [ ]:
ser

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])

In [ ]:
ser2

In [ ]:
ser2[-1]

In [ ]:
ser.loc[:1]

<h4>Arithmetic and Data Alignment</h4>
<ul>
    <li>applications is the behavior of arithmetic between objects with different indexes.</li>
</ul>

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])

In [ ]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1 + s2

<p>In DataFrame, alignment is performed on both the rows and the columns:</p>

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape(3, 3), columns=list('bcd'), index= ['Ohio', 'Texas', 'Colorado'])

In [ ]:
df2 = pd.DataFrame(np.arange(12.).reshape(4, 3), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})

In [ ]:
df2 = pd.DataFrame({'B': [3, 4]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 - df2

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df1

In [ ]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df2

In [ ]:
df1.add(df2, fill_value=1.0)

In [ ]:
1/df1

In [ ]:
df1.rdiv(1)

<p>Operations between DataFrame and Series</p>

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
frame

In [ ]:
frame.iloc[0]

In [ ]:
series = frame.iloc[0]

In [ ]:
series

In [ ]:
frame - series

<h4>Function Application and Mapping</h4>

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index= ['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
frame

In [ ]:
np.abs(frame)

<p><b>apply</b> method : apply a function on one-dimensional arrays to each column or row </p>

In [ ]:
def f(x):
    return x.max() - x.min()

In [ ]:
frame.apply(f)

In [ ]:
frame.apply(f, axis=1)

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [ ]:
frame.apply(f)

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
obj = pd.Series([4, 7, -3, 2])

In [ ]:
obj

In [ ]:
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b':[4, 7, -3, 2], 'a':[0, 1, 0, 1]})

In [ ]:
frame

<h3>Reading and Writing Data in Text Format</h3><br>

<h3>Parsing functions in pandas</h3>
<ul>
    <li><b>read_csv</b> : Load delimited data from a file, URL, or file-like object. Use comma as default delimiter</li>
    <li><b>read_table</b> : Load delimited data from a file, URL, or file-like object. Use tab ( '\t' ) as default delimiter</li>
    <li><b>read_fwf</b> : Read data in fixed-width column format (that is, no delimiters)</li>
    <li><b>read_clipboard</b> : Version of read_table that reads data from the clipboard. Useful for converting tables from web pages</li>
</ul><br>

* *CSV* : Comma-separated values

In [ ]:
!cat "files/ex1.csv"

In [ ]:
df = pd.read_csv('files/ex1.csv')

In [ ]:
df

In [ ]:
df.dtypes

<ul>
    <li>Type inference is one of the more important features of these functions; that means you don’t have to specify which columns are numeric, integer, boolean, or string. Handling dates and other custom types requires a bit more effort, though.</li>
</ul>

In [ ]:
pd.read_table('files/ex1.csv')

In [ ]:
pd.read_table('files/ex1.csv' , sep=',')

<ul>
    <li>To read this in, you have a couple of options. You can allow pandas to assign default
column names, or you can specify names yourself</li>
    <li>You can specify indexes yourself </li>
</ul>

In [ ]:
pd.read_csv('files/ex1.csv', header = None)

In [ ]:
pd.read_csv('files/ex1.csv', names=['m', 'n', 'o' , 'p', 'payam'])

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']

In [ ]:
pd.read_csv('files/ex1.csv', names=names, index_col='message')

In [ ]:
!cat 'files/ex2.csv'

In [ ]:
frame = pd.read_csv('files/ex2.csv', index_col=['key1', 'key2'])

In [ ]:
frame

In [ ]:
frame.shape

In [ ]:
frame.loc['one']

In [ ]:
frame.loc['one'].loc['a']

<ul>
    <li>Handling missing values is an important and frequently nuanced part of the file parsing process. Missing data is usually either not present (empty string) or marked by some sentinel value. By default, pandas uses a set of commonly occurring sentinels, such as NA , -1.#IND , and NULL</li>
</ul>

In [ ]:
!cat files/ex3.csv

In [ ]:
df = pd.read_csv('files/ex3.csv')

In [ ]:
df

In [ ]:
df.isnull()

* Pandas understand missing values as ***nan***

<ul><li>The <b>na_values</b> option can take either a list or set of strings to consider missing values</li></ul>

In [ ]:
!cat "files/ex3.csv"

In [ ]:
df = pd.read_csv('files/ex3.csv', na_values=['NULL', 4])

In [ ]:
df

<h3>Reading Text Files in Pieces</h3>
<ul>
    <li>When processing very large files or figuring out the right set of arguments to correctly process a large file, you may only want to read in a small piece of a file or iterate through smaller chunks of the file </li>
</ul>

In [ ]:
df = pd.read_csv('files/ex4.csv')

In [ ]:
df

In [ ]:
pd.read_csv('files/ex4.csv', nrows=5)

<p><b>nrows</b> and <b>skiprows</b> are to help<p>

In [ ]:
pd.read_csv('files/ex4.csv', skiprows = 25, nrows=5)

In [ ]:
pd.read_csv('files/ex4.csv', skiprows = 25, nrows=5, names = ['one', 'two', 'three', 'four', 'key'])

<p>To read out a file in pieces, specify a <b>chunksize</b> as a number of rows</p>

In [ ]:
chunker = pd.read_csv('files/ex4.csv', chunksize=100)

In [ ]:
chunker

<ul><li> pd.io.parsers.TextFileReader is generator you can iterate over it by next or for loop </li><ul>

In [ ]:
next(chunker)

In [ ]:
a2 = next(chunker)

In [ ]:
a2

In [ ]:
chunker = pd.read_csv('files/ex4.csv', chunksize=100)

In [ ]:
tot = pd.Series([])

In [ ]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

In [ ]:
tot

<h3> Writing Data Out to Text Format </h3>

In [ ]:
data = pd.read_csv('files/ex3.csv')

In [ ]:
data.to_csv('out.csv')

In [ ]:
!cat 'out.csv'

In [ ]:
import sys

In [ ]:
data.to_csv(sys.stdout, na_rep='NULL')

In [ ]:
data.to_csv(sys.stdout, na_rep="nil", index=False)

<h4>Exercise : reading csv file manually </h4>

In [ ]:
def read_csv(source: str) -> np.ndarray:
    with open(source, 'r') as f:
        s = f.read()
        return np.array([l.split(',') for l in s.split()])

In [ ]:
a = read_csv('files/ex3.csv')

In [ ]:
a

In [ ]:
a.shape

In [ ]:
a[1:]

In [ ]:
a

### Data Cleaning and Preparation
* String Manipulation
* Handling Missing Data
* Data Transformation

In [ ]:
from numpy import nan as Na

In [ ]:
data = pd.Series([1, Na, 3.5, Na, 7])

In [ ]:
data.isnull()

In [ ]:
data.dropna()

#### This is equivalent to

In [ ]:
data[data.notnull()]

#### In DataFrames

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., Na, Na], [Na, Na, Na], [Na, 6.5, 3.]])

In [ ]:
cleaned = data.dropna()

In [ ]:
cleaned

In [ ]:
data.dropna(how='all')

In [ ]:
data[4] = Na

In [ ]:
data

In [ ]:
data.dropna(axis=1, how='all')

In [ ]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = Na
df.iloc[:2, 2] = Na

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=2)

### Filling In Missing Data

In [ ]:
df.fillna(2)

In [ ]:
df.fillna({1:.5, 2:0}) # for each column

In [ ]:
df.fillna(df.mean())

In [ ]:
_ = df.fillna(0, inplace=True)

### Data Transformation

### Removing Duplicates

In [ ]:
data = pd.DataFrame(
    {"k1": ["one", "two"] * 3 + ["two"], "k2": [1, 1, 2, 3, 3, 4, 4]}
)

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data["v1"] = range(7)

In [ ]:
data.drop_duplicates(["k1"])

In [ ]:
data.drop_duplicates(["k1", "k2"])

* *last* arguments

In [ ]:
data.duplicated(["k1", "k2"], keep="last")

#### Transforming Data Using a Function or Mapping

In [ ]:
data = pd.DataFrame(
    {
        "food": [
            "bacon",
            "pulled pork",
            "bacon",
            "Pastrami",
            "corned beef",
            "Bacon",
            "pastrami",
            "honey ham",
            "nova lox",
        ],
        "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6],
    }
)
data

In [ ]:
meat_to_animal = {
    "bacon": "pig",
    "pulled pork": "pig",
    "pastrami": "cow",
    "corned beef": "cow",
    "honey ham": "pig",
    "nova lox": "salmon",
}

In [ ]:
lowercased = data["food"].str.lower()
lowercased

In [ ]:
lowercased.map(meat_to_animal)

In [ ]:
data["animal"] = lowercased.map(meat_to_animal)

#### Replacing Values

In [ ]:
data = pd.Series([1.0, -999.0, 2.0, -999.0, -1000.0, 3.0])

In [ ]:
data.replace(-999, Na)

In [ ]:
data.replace([-999, -1000], Na)

In [ ]:
data.replace({-999: np.nan, -1000: 0})

#### Renaming Axis Indexes

In [ ]:
data = pd.DataFrame(
    np.arange(12).reshape((3, 4)),
    index=["Ohio", "Colorado", "New York"],
    columns=["one", "two", "three", "four"],
)

In [ ]:
def transform(x):
    return x[:4].upper()

In [ ]:
data.index.map(transform)

In [ ]:
data.index = data.index.map(transform)

In [ ]:
data.rename(index=str.title, columns=str.upper)

In [ ]:
data.rename(index={"OHIO": "INDIANA"}, columns={"three": "peekaboo"})

#### Discretization and Binning

In [ ]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]

In [ ]:
cats = pd.cut(ages, bins)

In [ ]:
cats.codes

In [ ]:
cats.categories

In [ ]:
pd.value_counts(cats)

In [ ]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

In [ ]:
group_names = ["Youth", "YoungAdult", "MiddleAged", "Senior"]

In [ ]:
pd.cut(ages, bins, labels=group_names)

In [ ]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4)

In [ ]:
cats.categories

#### Detecting and Filtering Outliers

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [ ]:
data.describe()

In [ ]:
col = data[2]

In [ ]:
col[np.abs(col) > 3]

In [ ]:
data[(np.abs(data) > 3).any(axis=1)]

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3

####  Permutation and Random Sampling
* Permuting (randomly reordering) a Series or the rows in a DataFrame is easy to do using the numpy.random.permutation function. Calling permutation with the length of the axis you want to permute produces an array of integers indicating the new ordering:

In [ ]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

In [ ]:
sampler = np.random.permutation(5)

In [ ]:
df.take(sampler)

In [ ]:
df.sample(n=3)

In [ ]:
choices = pd.Series([5, 7, -1, 6, 4])

In [ ]:
draws = choices.sample(n=10, replace=True)

In [ ]:
draws

In [ ]:
type(draws)

### String Manipulation

In [ ]:
val = "a,b, guido"

In [ ]:
val.split(",")

In [ ]:
pieces = [x.strip() for x in val.split(",")]

In [ ]:
first, second, third = pieces

In [ ]:
first + "::" + second + "::" + third

In [ ]:
"::".join(pieces)

In [ ]:
"guido" in pieces

In [ ]:
val.index(",")

In [ ]:
val.find(":")

In [ ]:
val.index(";")

In [ ]:
val.count(",")

In [ ]:
val.replace(",", "::")

In [ ]:
val.replace(",", "")

<h3>Database-style DataFrame Merges</h3>
<ul>
    <li>Merge or join operations combine data sets by linking rows using one or more keys. These operations are central to relational databases. The merge function in pandas is the main entry point for using these algorithms on your data </li>
</ul><br>

In [ ]:
df1 = pd.DataFrame(
    {"key": ["b", "b", "a", "c", "a", "a", "b"], "data1": range(7)}
)
df1

In [ ]:
df2 = pd.DataFrame({"key": ["a", "b", "d"], "data2": range(3)})
df2

In [ ]:
pd.merge(df1, df2)

In [ ]:
pd.merge(df1, df2, on='key')

In [ ]:
df3 = pd.DataFrame(
    {"lkey": ["b", "b", "a", "c", "a", "a", "b"], "data1": range(7)}
)

df4 = pd.DataFrame({"rkey": ["a", "b", "d"], "data2": range(3)})

In [ ]:
pd.merge(df3, df4, left_on='lkey', right_on='rkey')

In [ ]:
pd.merge(df1, df2, how='outer')

In [ ]:
left = pd.DataFrame(
    {
        "key1": ["foo", "foo", "bar"],
        "key2": ["one", "two", "one"],
        "lval": [1, 2, 3],
    }
)

In [ ]:
right = pd.DataFrame(
    {
        "key1": ["foo", "foo", "bar", "bar"],
        "key2": ["one", "one", "one", "two"],
        "rval": [4, 5, 6, 7],
    }
)

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')